.inputs {
    font-size: 14px !important;
    padding: 4rem !important;
    border-radius: 10px !important;
    margin-bottom: 1rem !important;
}

.cardInfoPricipal{
    border-radius: 10px;
    background-color: white;
    border: 1px solid gainsboro;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 1rem !important;
    padding-top: 3rem !important;
}